h1.title, p.subtitle {
  color: slateblue;
  text-align: center;
  margin-top: 40px;
  text-shadow: 4px 4px 4px lightblue;
}

h3.fcolor, label.fcolor {
  color: slateblue;
}

.button {
  background-color: slateblue;
  color: white;
}

.button:hover {
  color: white;
  background-color: #503cd1;
}

.button:focus{
  color: white;
  background-color: #503cd1;
}

.to-home {
  color: slateblue;
}

.to-home:hover {
  color: #503cd1;
}

li {
  float: left;
}

li a {
  padding: 20px;
}

.icon {
  float: right;
  margin-right: 50px;
}

.icon-content {
  color: rgb(255, 123, 0);
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 30px;
}

.icon a {
  padding: 40px;
}

a {
  color: rgb(255, 174, 0);
}

a:hover {
  color: rgb(255, 81, 0);
}

a:focus {
  color: rgb(255, 123, 0);
}

#background {
    background-image: linear-gradient(to top, rgba(0, 225, 255, 0.4),rgba(0, 225, 225, 0));
}

.dropdown-cnt {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-cnt a {
  display: block;
  padding-bottom: 0px;
  text-align: left;
}

.my-dropdown:hover .dropdown-cnt {
  display: block;
  position: absolute;
}

.footer {
  background-color: slateblue;
  color: white;
  text-align: center;
}

.my-image {
  margin: auto;
  padding-top: 0px;
  display: block;
  width: 400px;
}

.my-tiny-image {
  margin: auto;
  padding-top: 40px;
  display: block;
  width: 150px;
}

.subhead {
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  color: slateblue; 
  text-shadow: 2px 2px 2px lightblue; 
}

div.subtitle {
  padding-top: 40px;
  padding-bottom: 40px;
  color: slateblue;
}

hr {
  margin-top: 0px;
}
